.container
  .row
    .col-md-4
    .col-md-4
      %h3
        Hi #{@user.name}
      %p
        This is #{@admin.name}, Invitation to the project.
      %p
        Thanks,
      %p
        #{@admin.name}
    .col-md-4