.container
  .row
    .col-md-4
    .col-md-4
      %h3
        Hi #{@user.name}
      %p
        This is #{@admin.name}, I hope you are doing good.
      %p
        I'm inviting to collaborate to my project.
      %br
      %br
      %br
      %p
        Thanks,
      %p
        #{@admin.name}
    .col-md-4