= content_for :title, 'Page Not Found'
.top-title-wrapper
  .container.p-t-50
    .row
      .col-md-4.col-sm-2.col-xs-12
      .col-md-4.col-sm-8.col-xs-12
        .page-info
          %h2.h2-page-desc Oops, Something Wrong!
      .col-md-4.col-sm-2.col-xs-12
.container
  .row
    .col-md-4.col-sm-2.col-xs-12
    .col-md-4.col-sm-8.col-xs-12
      %span{style: 'font-size: 30px '} 404 Page Not Found
      %br
      The page you are looking doesn’t exist.
      %br
      Thank you!
    .col-md-4.col-sm-8.col-xs-12